# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env

# Test Cache
.pytest_cache/

# Coverage
.coverage

# IDE
.vscode/
.idea/